{% extends 'base.html' %}

{% block content %}

<div class="row pipeline_researcher">
    <div class="col s12">
        <nav>
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="/run-requests/{{ namespace }}/administrator/requests" class="breadcrumb">Admin Home</a>
                    <a href="#" class="breadcrumb">Request detail
                        {{ run_request.id }}
                    </a>
                </div>
            </div>
        </nav>
    </div>
    <div class="col s12">
        {{ debug }}

        {% if alert.message %}
        {% if alert.status == 'error' %}
        <div class="card-panel red lighten-3 red-text text-darken-4">
            {{ alert.message }}
        </div>
        {% elif alert.status == 'success' %}
        <div class="card-panel green lighten-3 green-text text-darken-3">
            {{ alert.message }}
        </div>
        {% endif %}
        {% endif %}

        <div class="row">
            <div class="col s6 teal-text">Status</div>
            <div class="col s6">
                {% if run_request.state == 0 %}
                <span data-badge-caption=" " style="margin: 0" class="badge white-text left light-blue">New</span>
                {% elif run_request.state == 1 %}
                <span data-badge-caption=" " style="margin: 0" class="badge white-text left orange">Denied</span>
                {% elif run_request.state == 2 %}
                <span data-badge-caption=" " style="margin: 0" class="badge white-text left amber">Running</span>
                {% elif run_request.state == 3 %}
                <span data-badge-caption=" " style="margin: 0" class="badge white-text left green">Run Done</span>
                {% elif run_request.state == 4 %}
                <span data-badge-caption=" " style="margin: 0" class="badge white-text left red">Run Error</span>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col s6 teal-text">Requester</div>
            <div class="col s6">{{ run_request.user_email }}</div>
        </div>
        <div class="row">
            <div class="col s6 teal-text">Pipeline to run</div>
            <div class="col s6">{{ pipeline.name }}</div>
        </div>
        <div class="row">
            <div class="col s6 teal-text">Pipeline version</div>
            <div class="col s6">{{ run_request.pipeline_version_name }}</div>
        </div>
        <div class="row">
            <div class="col s6 teal-text">Requested dataset</div>
            <div class="col s6">{{ run_request.dataset_id }}</div>
        </div>
        <div class="row">
            <div class="col s6 teal-text">Requester message</div>
            <div class="col s6">{{ run_request.message }}</div>
        </div>

        {% if run_request.pipeline_params %}
        <div class="row">
            <br>
            <div class="col s12">
                <strong>Pipeline parameters</strong>
            </div>
        </div>

        {% for key, value in run_request.pipeline_params.items %}
        <div class="row">
            <div class="col s6 teal-text">{{ key }}</div>
            <div class="col s6">{{ value }}</div>
        </div>
        {% endfor %}

        {% endif %}

        <div class="row">
            <div class="col s12">
                <form method="POST" id="CreateRunFromRunRequest">
                    {% csrf_token %}
                    <div class="input-field">
                        <textarea id="message" name="message" class="materialize-textarea"></textarea>
                        <label for="message">Note</label>
                        <span class="orange-text">{{ errors.message }}</span>
                    </div>
                    {% for parameter in parameters %}
                    <div class="input-field">
                        <input id="{{ parameter.name }}" name="parameter[{{ parameter.name }}]"
                               class="materialize-textarea">
                        <label for="{{ parameter.name }}">{{ parameter.name }}</label>
                    </div>
                    {% endfor %}
                </form>
            </div>

        </div>

        <div class="row">
            <div class="col s12">
                {% if run_request.state == 0 %}
                <button form="CreateRunFromRunRequest"
                        type="submit"
                        class="green waves-effect waves-light btn-small">
                    <i class="material-icons left">directions_run</i> Approve and create Run
                </button>
                <a href="requests/{{ run_request.id }}"
                   class="red waves-effect waves-light btn-small">
                    <i class="material-icons left">do_not_disturb</i> Deny
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}