{% extends 'base.html' %}

{% block content %}

<div class="row pipeline_researcher">
    <div class="col s12">
        <nav>
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="#" class="breadcrumb">Admin Home</a>
                </div>
            </div>
        </nav>
    </div>
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s6 teal-text text-lighten-2">
                <a class="teal-text text-lighten-2 active" href="#run_requests">Pipeline Run Requests</a>
            </li>
            <li class="tab col s6"><a href="#db_requests">
                DB Access Requests</a>
            </li>
        </ul>
    </div>
    <div id="run_requests" class="col s12">
        <table>
            <thead>
            <tr>
                <th>Pipeline</th>
                <th>Dataset</th>
                <th>Author</th>
                <th>Status</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for run_request in run_requests %}
            <tr>
                <td>
                    <a href="{{ '/_/pipeline/?ns=' }}{{ namespace }}{{ '#/pipelines/details/' }}{{ run_request.pipeline_id }}" target="_blank">
                        {{ run_request.pipeline_name }}
                    </a>
                </td>
                <td>
                    {{ run_request.dataset_id }}
                </td>
                <td>{{ run_request.user_email }}</td>
                <td>
                    {% if run_request.state == 0 %}
                    <span data-badge-caption=" " class="badge white-text light-blue">New</span>
                    {% elif run_request.state == 1 %}
                    <span data-badge-caption=" " class="badge white-text orange">Denied</span>
                    {% elif run_request.state == 2 %}
                    <span data-badge-caption=" " class="badge white-text green">Approved</span>
                    {% endif %}
                </td>
                <td>{{ run_request.created_at }}</td>
                <td>
                    <a href="requests/{{ run_request.id }}" data-position="bottom"
                       class="tiny waves-effect waves-light btn btn-small btn-details-request">
                        <div class="btn-details-inner">
                            <i class="material-icons">open_in_new</i>
                            <span>Open Detail</span>
                        </div>
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="db_requests" class="col s12">
        <table>
            <thead>
            <tr>
                <th>Dataset</th>
                <th>Author</th>
                <th>Status</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for dataset_request in dataset_requests %}
            <tr>
                <td>
                    <strong>{{ dataset_request.dataset_name }}</strong><br>
                    <em>ID: {{ dataset_request.dataset_id }}</em>
                </td>
                <td>{{ dataset_request.user_email }}</td>
                <td>
                    {% if dataset_request.state == 0 %}
                    <span data-badge-caption=" " class="badge white-text light-blue">New</span>
                    {% elif dataset_request.state == 1 %}
                    <span data-badge-caption=" " class="badge white-text orange">Denied</span>
                    {% elif dataset_request.state == 2 %}
                    <span data-badge-caption=" " class="badge white-text green">Approved</span>
                    {% endif %}
                </td>
                <td>{{ dataset_request.created_at }}</td>
                <td>
                    <a href="dataset_requests/{{ dataset_request.id }}" data-position="bottom"
                       data-tooltip="Open Dataset Request Detail"
                       class="tooltipped tiny waves-effect waves-light btn-small">
                        <div class="btn-details-inner">
                            <i class="material-icons">open_in_new</i>
                            <span>Open Detail</span>
                        </div>
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col s12">
        <ul class="pagination">
            {% for index in request_pagination_range %}
            <li class="waves-effect
                        {% if run_requests.number == index %}
                            active
                        {% endif %}
                        "><a href="?page={{ index }}#my_requests">{{ index }}</a></li>
            {% endfor %}

        </ul>
    </div>
</div>

{% endblock %}



