{% extends 'base.html' %}

{% block content %}

<div class="row pipeline_researcher">
    <div class="col s12">
        <nav>
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="/run-requests/{{namespace}}administrator/requests" class="breadcrumb">Admin Home</a>
                    <a href="#" class="breadcrumb">Request detail</a>
                </div>
            </div>
        </nav>
    </div>
    <div class="col s12">


    </div>
</div>

{% endblock %}