.pipeline_researcher > div {
    margin-top: 15px;
}

.app-wrapper {
    margin: 20px;
}

#run_requests, #db_requests, #data_samples, #my_requests {
    padding: 15px 30px;
}

.btn-details-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px
}

strong {
    font-weight: 700!important;
}

.row-flex {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
}

.row-flex > .col-flex {
    width: 66%;
}

.pipeline-parameters-wrapper {
    border: 2px solid #e0e0e0;
    padding: 20px;
    width: 66%;
    border-radius: 2px;
}

.pipeline-parameters-wrapper tr:last-child{
   border: 0;
}