{% extends 'base.html' %}

{% block content %}

<div class="row pipeline_researcher">
    <div id="namespace" data-namespace="{{ namespace }}"></div>
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s4 teal-text text-lighten-2">
                <a class="teal-text text-lighten-2 active"
                   href="#run_requests">Pipeline Run Requests</a>
            </li>
            <li class="tab col s4"><a href="#db_requests">Request access to database</a></li>
            <li class="tab col s4"><a href="#data_samples">Data Samples</a></li>
        </ul>
    </div>
    <div id="run_requests" class="col s12">
        <div class="row">
            <form method="POST" action=".">
                {% csrf_token %}
                <input type="hidden" name="pipeline_name">
                <input type="hidden" name="pipeline_version_name">
                <div class="input-field col s8">
                    <select id="pipelineSelect" name="pipeline_id">
                        <option value="" disabled selected>Choose your pipeline</option>
                        {% for pipeline in pipelines %}
                        <option value="{{ pipeline.id }}">{{ pipeline.name }}</option>
                        {% endfor %}
                    </select>
                    <label for="pipelineSelect">Kubeflow Pipeline</label>
                    <span class="orange-text">{{ errors.pipeline_id }}</span>
                </div>
                <div class="input-field col s8">
                    <select id="pipelineVersionSelect" name="pipeline_version_id">
                        <option value="" disabled selected>Choose pipeline version</option>
                    </select>
                    <label for="pipelineVersionSelect">Kubeflow Pipeline Version</label>
                </div>
                <div class="input-field col s8">
                    <span class="orange-text">{{ errors.dataset_id }}</span>
                    <select id="datasetSelect" name="dataset_id">
                        <option value="" disabled selected>Choose requested dataset</option>
                        <option value="94b79680-cc10-496b-96b2-9c04424021d3" selected>Breast cancer data</option>
                    </select>
                    <label for="datasetSelect">Requested dataset</label>
                    <span class="orange-text">{{ errors.pipeline_version_id }}</span>
                </div>
                <div class="input-field col s8">
                    <textarea id="message" name="message" class="materialize-textarea"></textarea>
                    <label for="message">Textarea</label>
                    <span class="orange-text">{{ errors.message }}</span>
                </div>
                <div class="input-field col s8">
                    <button type="submit" class="waves-effect waves-light btn">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div id="db_requests" class="col s12">
        <div class="row">
            <div class="input-field col s8">
                <select id="dataset2Select" name="dataset_id">
                    <option value="" disabled selected>Choose requested dataset</option>
                    <option value="1" selected>Breast cancer data</option>
                    <option value="1" selected>Colon cancer data</option>
                </select>
                <label for="dataset2Select">Requested dataset</label>
            </div>
            <div class="input-field col s8">
                <textarea name="message" id="textarea2" class="materialize-textarea"></textarea>
                <label for="textarea2">Textarea</label>
            </div>
            <div class="input-field col s8">
                <a class="waves-effect waves-light btn">Submit</a>
            </div>
        </div>
    </div>
    <div id="data_samples" class="col s12">
        <div class="row">
            <div class="col s12 m6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Card Title</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}

<script>
    $('#pipelineSelect').on('change', function () {
        let pipeline_id = this.value
        let namespace = $('#namespace').data('namespace')
        console.log(namespace)
        let url
        let pipelineVersionSelect = $('#pipelineVersionSelect');

        if (namespace) {
            url = "run-requests/" + namespace + "/get-pipeline-versions"
        } else {
            url = "/get-pipeline-versions"
        }
        pipelineVersionSelect.find('option').remove().end().append('<option value="" disabled>Choose pipeline version</option>').val('')
        $.ajax({
            url: url,
            data: {pipeline_id: pipeline_id},
            dataType: "json",
            success: function (response) {

                $.each(response, function (key, val) {
                    pipelineVersionSelect.append(new Option(val, key));

                });

                pipelineVersionSelect.change()
                pipelineVersionSelect.formSelect();
            }
        });

    });
</script>

{% endblock %}

